table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
    padding: 10px 10px;
}


.table-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 cal(25% - 4rem);
    flex-wrap: wrap;
 
}

.table-container > div{
    margin: 20px;
}
.table-items{
    margin-bottom: 40px;
}

.form-title{
    margin-bottom: 10px;
}

.button{
    margin: auto;
}