.Header_section {
  width: 100vw;
  height: 20vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .current {
    color: blue;
    cursor: pointer;
  }

  .nocurrent {
    color: black;
    cursor: pointer;
  }
}
